<div id="<%= dom_id food_enquete %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= food_enquete.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Mail:</strong>
    <%= food_enquete.mail %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Age:</strong>
    <%= food_enquete.age %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Food:</strong>
    <%= food_enquete.food_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Score:</strong>
    <%= food_enquete.score %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Request:</strong>
    <%= food_enquete.request %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Present:</strong>
    <%= food_enquete.present_id %>
  </div>
</div>
