<div id="<%= dom_id gym_enquete %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= gym_enquete.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Mail:</strong>
    <%= gym_enquete.mail %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Age:</strong>
    <%= gym_enquete.age %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Course:</strong>
    <%= gym_enquete.course_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Score:</strong>
    <%= gym_enquete.score %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Request:</strong>
    <%= gym_enquete.request %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Present:</strong>
    <%= gym_enquete.present_id %>
  </div>
</div>
